body {
  font-family: "SUSE", sans-serif;
  background-color: #fefeff;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.call-to-btn {
  display: inline-block;
  padding: 15px 45px;
  border-radius: 50px;
  font-size: 21px;
  background-color: #f9cf2e;
  color: #000;
  font-weight: 700;
  transition: all 0.3s ease 0s;
  box-shadow: #f9cf2e 0 10px 20px -10px;
}

.call-to-btn:hover {
  box-shadow: 0 0 20px #f9cf2e;
}

.hero-h2 {
  font-weight: bold;
}

.hero-ul {
  margin: 0;
  padding: 10px 0;
}

.hero-ul li {
  display: inline-block;
  list-style: none;
  padding: 0 0 15px;
  margin: 0;
  width: 48%;
}

.hero-ul li i {
  padding-right: 5px;
  color: #f9cf2e;
}

.call-to-btn img {
  width: 18px;
  margin-left: 10px;
}

.hero-h1 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  padding: 40px 0 0;
  line-height: 3rem;
}

.hero-h1 span {
  color: #f9cf2e;
  font-weight: bold;
  /* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; */
  /* text-shadow: 1px 1px 2px rgba(0,0,0,0.2); */
}

.hero-h1 label {
  text-decoration: underline;
  font-weight: bold;
}

.hero-h5 {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  /* font-style: italic; */
}

.img-responsive img {
  max-width: 100%;
}

.btn_on-hover {
  transition: all 0.3s ease 0s;
}

.call-to-btn,
.btn_on-hover {
  /* -webkit-box-shadow: 0px 5px 10px -5px rgba(255, 252, 1, 1);
  -moz-box-shadow: 0px 5px 10px -5px rgba(255, 252, 1, 1);
  box-shadow: 0px 5px 10px -5px rgba(255, 252, 1, 1); */
  /* transform: translateY(-7px); */
}

/* CSS */

.main-heading {
  color: #082465;
  font-weight: bold;
  text-align: center;
}

/*header section*/

.header_section {
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
}

nav.navbar.navbar-expand-lg {
  padding: 10px 0;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 20px;
  color: #f7f6f7;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.top-container {
  position: relative;
}

.top-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/hero-bg.png);
  background-size: 100% 100%;
  background-position: right bottom;
  background-repeat: no-repeat;
  z-index: -1;
}

.sub_page .top-container::before {
  background-color: #f9cf2e;
  background-image: none;
}

.top-container .img-responsive{
  position: relative;
}

.top-container .img-responsive::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 75px;
  bottom: 40%;
  left: -6%;
  background-color: #f9cf2e;
}

.sub_page .top-container::after {
  display: none;
}

.navbar-brand img {
  width: 25px;
  margin-right: 7px;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand span {
  font-size: 22px;
  font-weight: 700;
  color: #fefefe;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 40px;
}

/*end header section*/

/* hero section */
.hero-container {
  display: flex;
  padding-top: 90px;
  padding-bottom: 325px;
}

/* .hero-detail-box {
  width: 40%;
} */

.hero-img-container {
  width: 68%;
  margin-right: -8%;
  margin-top: -5%;
}

.hero-img-container img {
  width: 100%;
}

.hero-detail-box {
  color: #fefeff;
}

.hero-detail-box h1 {
  font-size: 50px;
  color: #fefeff;
  font-weight: 600;
  width: 70%;
}

.hero-detail-box p {
  margin-top: 20px;
  margin-bottom: 35px;
}

/* end hero section */

/* common style for some sections */
.common-style > section {
  padding: 80px 0;
}

.common-style .row {
  align-items: center;
}

.common-style h3 {
  font-weight: 600;
  color: #151516;
  font-size: 48px;
}

.common-style p {
  color: #333;
  margin: 30px 0 50px 0;
}

.common-style img {
  width: 100%;
}

/* end common style */

/* about section */
.about-section {
  background: url(../images/intro-bg.png) no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
}
.about-detail-box {
  /* background-color: #fff;
  box-shadow: 0px 8px 30px -13px rgba(6, 0, 49, 0.5); */
  width: 60%;
  margin: auto;
  padding: 0 30px;
}

.title-h5 {
  line-height: 30px;
  position: relative;
  padding: 0 0 0 30px;
  font-weight: 300;
}

.about-detail-box .title-h5 {
  font-weight: 600;
}

.title-h5 b {
  font-weight: 600;
}

.title-h5 i {
  position: absolute;
  left: 0;
  top: 5px;
}

.title-h3 {
  text-decoration: underline;
}

.text-yellow,
.title-h5 b,
.title-h5 i {
  color: #f9cf2e;
}

/* .about-section a {
  background-color: #6ebca8;
  color: #fefeff;
} */

/* end about section */

/* admission section */

.program-box {
  background-color: #fff;
  box-shadow: 0px 8px 30px -13px rgba(6, 0, 49, 0.5);
  border-radius: 10px;
  padding: 35px;
  margin: 0 0 30px;
}

.program-box h4 {
  font-weight: 600;
  margin: 0 0 15px;
}

.program-box p {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.program-img img {
  max-width: 84px;
  max-height: 84px;
}

/* .program-section a {
  background-color: #F9CF2E;
  color: #fefeff;
} */

/* end admission section */

/* why section */

.know-more {
  background-color: #45818e;
  color: #fff;
}

/* end why section */

/* determine section */

.determine_section a {
  background-color: #f9cf2e;
  color: #fefeff;
}

/* end determine section */

/* client section */

.carousel-inner {
  box-shadow: 0px 8px 30px -13px rgba(6, 0, 49, 0.5);
  padding: 0 50px;
  background-color: #fff;
  border-radius: 10px;
}

.testimonial-section {
  background: url(../images/body-bg.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
}

.testimonial-section h2,
.testimonial-section h5 {
  font-weight: 600;
}

.testimonial-section p {
  font-weight: 400;
}

.testimonial-section h2 {
  text-align: center;
}

.testimonial-section h5 {
  font-size: 24px;
  /* color: #F9CF2E; */
}

.testimonial-section .row {
  align-items: center;
  padding: 75px 0;
  margin: 0 15px;
}

.testimonial-section img {
  width: 100%;
}

.client-img-box::before,
.client-img-box::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  background-color: #45818e;
}

.client-img-box::before {
  top: -15px;
  transform: rotate(139deg);
  left: -15px;
  animation: beforeanimate 1s;
  animation-delay: 0.1s;
}

.client-img-box::after {
  bottom: -15px;
  transform: rotate(142deg);
  right: -15px;
  animation: afteranimate 1s;
  animation-delay: 0.1s;
}

@keyframes beforeanimate {
  0% {
    top: 43%;
    transform: rotate(142deg);
    left: 31%;
  }

  100% {
    top: -15px;
    transform: rotate(139deg);
    left: -15px;
  }
}

@keyframes afteranimate {
  0% {
    bottom: 46%;
    transform: rotate(142deg);
    right: 35%;
  }

  100% {
    bottom: -15px;
    transform: rotate(142deg);
    right: -15px;
  }
}

.testimonial-section .carousel-indicators {
  margin: 0;
  justify-content: flex-end;
  padding-right: 50px;
  bottom: 20px;
}

.testimonial-section .carousel-indicators li {
  width: 25px;
  height: 25px;
  background-color: #45818e;
  border-radius: 100%;
  opacity: 1;
}

.testimonial-section .carousel-indicators li.active {
  background-color: #f9cf2e;
}

/* end client section */

/* contact section */

.contact-section {
  /* padding: 75px 45px; */
  background-color: #45818e;
}

.contact-section .row {
  align-items: center;
}

.contact-section .form-control {
  border: none;
  outline: none;
  /* border-bottom: 1px solid #000; */
  width: 90%;
  height: auto;
  margin: 15px 0;
  padding: 15px;
}

.contact-section .form-control:focus,
.contact-section .form-control:active{
  box-shadow: 0 0 5px #f9cf2e;
}

/* .contact-form-container button {
  border: none;
  background-color: #45818e;
  color: #fff;
  font-size: 15px;
  padding: 15px 45px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: bold;
} */

.contact-img-box {
  display: flex;
  align-items: center;
}

.contact-img-box img {
  width: 100%;
  border-radius: 10px;
}

.contact-section h2 {
  font-size: 26px;
  color: #010103;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  margin-bottom: 35px;
}

.contactimg-box img{
  width: 500px;
  height: 450px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0px 8px 30px -13px rgba(6, 0, 49, 0.5);
}

/* end contact section */

/* info section */
.info_section {
  background-color: #363636;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.info_logo-box {
  display: flex;
  justify-content: center;
}

.info_logo-box h2 {
  font-weight: bold;
  padding: 5px 7px;
  border-bottom: 1.5px solid #f9cf2e;
}

.info_section ul {
  padding: 0;
}

.info_section ul li {
  list-style-type: none;
  margin: 3px 0;
}

.info_section ul li a {
  color: #ffffff;
}

.info_section ul li a:hover {
  color: #f9cf2e;
}

.info_section h5 {
  margin-bottom: 12px;
  font-size: 22px;
}

.info_section .form_container input {
  width: 225px;
  height: 40px;
  padding: 10px;
}

.info_section .form_container input::placeholder {
  color: #ccc8c8;
}

.info_section .form_container button {
  background-color: #f9cf2e;
  border: none;
  outline: none;
  color: #fff;
  padding: 8px 30px;
  margin-top: 15px;
  font-size: 15px;
  text-transform: uppercase;
}

.social_container {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #898989;
  padding: 25px 0;
}

.info_section .social-box {
  margin: 0 auto;
  width: 400px;
  display: flex;
  justify-content: center;
}

.info_section .social-box img {
  width: 35px;
  margin-right: 5px;
}

/* end info section */

/* faqs section */

.faq .faq-list {
  padding: 0;
  list-style: none;
}
.faq .faq-list li {
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 20px 40px;
  box-shadow: 0px 8px 20px -15px rgba(6, 0, 49, 0.5);
}
.faq .faq-list a {
  display: block;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

.faq .faq-list i {
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 6px;
  transition: 1s;
}

.faq .faq-list p {
  padding-top: 0;
  margin: 15px 0 10px;
  font-size: 16px;
}

i.fa.fa-chevron-down {
  transform: rotate(180deg);
}

.collapsed i.fa.fa-chevron-down {
  transform: rotate(0);
}

/* end faqs section*/

/* footer section*/

.footer_section {
  background-color: #45818e;
  padding: 20px 15px;
  font-family: "Poppins", sans-serif;
}

.footer_section p {
  color: #fdfdfe;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #fdfdfe;
}

/* end footer section*/


/* responsive css */

@media (max-width: 1119.98px) {
  .contactimg-box img{
    width: 100%;
  }
  .top-container .img-responsive::after{
    display: none;
  }
}

@media (max-width: 991.98px) {

    .hero-container {
        flex-direction: column;
    }

    .hero-detail-box {
        width: 100%;
        margin-bottom: 45px;
    }

    .hero-img-container {
        width: 100%;
    }

    .hero-container.container {
        padding-top: 45px;
    }

    .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
        color: #fff;
    }

}


@media (max-width: 767.98px) {

    .hero-detail-box {
        text-align: center;
    }

    .hero-detail-box h1 {
        width: 100%;
    }

    .top-container::after {
        display: none;
    }

    .top-container::before {
        background-size: cover;
    }

    .info_section .col-md-3 {
        padding: 20px 25px;
        text-align: center;
    }

    .common-style img {
        width: 100%;
        margin: 20px auto;
    }

    .about-detail-box{
      width: 100%;
    }

    .hero-h2{
      margin-top: 2rem;
    }

    .contact-section .form-control{
      width: 100%;
    }

}

@media (max-width: 575.98px) {
    .hero-container {
        padding-bottom: 100px;
    }

    .client-img-box::before,
    .client-img-box::after {
        content: "";
        position: absolute;
        width: 75px;
        height: 20px;
        border-radius: 20px;
        background-color: #fdd31d;
    }

    .client-img-box::before {
        top: 0;
        transform: rotate(132deg);
        left: -15px;
        animation: beforeanimate 1s;
        animation-delay: .1s;
    }

    .client-img-box::after {
        bottom: 0px;
        transform: rotate(135deg);
        right: -15px;
        animation: afteranimate 1s;
        animation-delay: .1s;
    }

    @keyframes beforeanimate {
        0% {
            top: 43%;
            transform: rotate(142deg);
            left: 31%;

        }

        100% {
            top: 0px;
            transform: rotate(132deg);
            left: -15px;
        }
    }

    @keyframes afteranimate {
        0% {
            bottom: 46%;
            transform: rotate(142deg);
            right: 35%;
        }

        100% {
            bottom: 0px;
            transform: rotate(135deg);
            right: -15px;
        }
    }

    .contact-section {
        padding: 0px 15px 0 15px;
    }

    .sub_page .contact-section {
        padding: 45px 15px;
    }

    .contact-section input {
        width: 100%;
    }

    .info_section .social-box {
        width: auto;
    }

    .hero-ul li{
      text-align: left;
      width: 100%;
    }

}

@media (min-width: 1199.98px) {
    .container {
        max-width: 1170px;
    }

}

